.menuContainer{
    background-color: #3b5998;
    border-bottom: 1px solid;
 }
.testA{
    margin:0 auto;
    width :980px;
}
h1{
    vertical-align: middle;
/*    line-height: 82px;*/
    color: white;
    font-weight: 300;
    font-family: helvetica;
}
body{
    margin: 0px;
}

.facebookName{
      vertical-align: middle;
    color: white;
    font-family: helvetica;
    display: inline-block;  
}
.menuInputBox{
    width:150px;
}

.LogInInput{
    float: right; 
    display: inline;
}
    tbody,tr,td{
    color:white;
}
.bodyContainer{
    width:980px;
    margin:0px auto;

}
.leftContainer{
    width:565px;
    display:inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-bottom: 20px;
}
#connect{
    font-size: 28px;  
    padding:42px 0 24px;
    font-weight: bold;
        font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    color: #333;
   
}
.leftDescriptionList{
     margin-top: 14px;
    padding-bottom: 10px;
}
.productPhoto{
        text-align: center;
    width: 55px;
    height: 51px;
    position: relative;
    top: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}
.productDescription{
    display:inline-block
}


.leftBold{
        font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    font-weight: bold !important;
    
}
.rightContainer{
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
/*    width:399px;*/
    display:inline-block;
        vertical-align: top;
    float:right;
}

#SignUp{
    font-size: 36px;
}
#Free{
    font-size: 19px;
}
#birthdayTitle{
    font-size: 14px;
}
.inputtext1{
    display:inline-block;
}
.inputtext2{
    width: 194px;
        display:inline-block;

}

.inputtext3{
    width:377px;
            display:inline-block;

}
.BySignUp{
    font-size: 11px;
}
.radioSex{
    font-size:18px;
}
#birthday-help{
    font-size: 11px;
    text-decoration: none;
    display: inline-block;
    max-width: 140px;
    vertical-align: middle;
}

#day{
    margin-left: -10px;
    margin-right:-10px;
}
.birthday-box-size{
    height:30px;
}




